<html>
<body>
	<div style="border: 2px solid black; margin: 20px; padding: 20px;">
		This project is for a skill test ! <b>UI in this project is made out of plan html without CSS/JS since it is just to demonstrate the django backend.</b> <br><br>
		My name is Viswam PC, a student | developer | tech enthusiast, my skills in web development include django as backend and VueJS, Jquery, HTMX as front-end with extensive skills in Vuetify framework and material design.

		<BR><BR>

		I'm still learning and improving myself, everyday I leap into new heights.

		<div style="border: 2px solid black; margin: 20px; padding: 20px;">
			<a href="{% url 'Internship:list' %}">View list of files</a>
		</div>

		<br><br>
		Github: <a href="https://github.com/viswc/">Visit</a>, Linkedin: <a href="https://www.linkedin.com/in/viswampc/">Visit</a>, Blogs: <a href="https://viswampc.medium.com">Medium.com</a>
	</div>
<body>
</html>